body {
  font-family: "Single Day", cursive;
  margin: 0;
  background-image: url(images/360_F_534816767_Gy4XLKRpBA8D5lZU2H0cSTFvbgFOQksn.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 2800px;
  margin: 0 auto;
  padding: 2rem;
}

nav {
  width: 100%;
  height: 200px;
  background-image: url(images/welcome.png);
  background-size: 100% 100%;
  z-index: 1000;
  padding: 1rem 0;
}

.nav-container {
  max-width: 2800px;
  margin: 0 auto;
  margin-top: 3.8rem;
  text-align: center;
}

.nav-container h1 {
  border-radius: 6px;
  font-size: 50px;
  background-color: #1ca005;
  color: #fddf00;
  box-shadow: 1px 1px 3px 10px rgb(255, 255, 91);
}

input,
select {
  width: 360px;
  font-weight: 700;
  font-size: 28px;
  cursor: pointer;
  margin-top: 10.3rem;
  border: 0;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #424242;
  color: #fddf00;
  box-shadow: 1px 1px 3px 10px rgba(255, 255, 0, 0.591);
}

button {
  font-weight: 700;
  font-size: 30px;
  background-color: #1ca005;
  border: none;
  border-radius: 4px;
  color: #fddf00;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 1px 1px 3px 10px rgb(255, 255, 91);
}

.filter button {
  margin-top: 10.3rem;
  width: 250px;
}
select::-webkit-scrollbar {
  width: 15px;
  background-color: #20e70662;
}

select::-webkit-scrollbar-thumb {
  background-color: #ffd700;
}

button:hover {
  color: #fd004c;
  background-color: #7cff5e;
  box-shadow: 1px 1px 3px 10px rgba(7, 224, 61, 0.744);
}

input:hover {
  background-color: #424242;
  box-shadow: 1px 1px 3px 10px rgba(7, 224, 61, 0.744);
}

select:hover {
  background-color: #424242;
  box-shadow: 1px 1px 3px 10px rgba(7, 224, 61, 0.744);
}

.drinks {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 5rem;
}

.drink {
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #1a1835d1;
  color: #168d26;
  overflow: hidden;
  box-shadow: 1px 1px 3px 10px rgba(255, 23, 240, 0.613);
  cursor: pointer;
  transition: 1s ease-in-out;
}

.drink:hover {
  border-radius: 0px;
  color: rgba(255, 23, 240, 0.613);
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
  box-shadow: 1px 1px 3px 10px rgba(7, 224, 61, 0.744);
}

.drink:hover img {
  position: relative;
  transform: scale(1.1);
  transition: 2s;
}

.drink img {
  width: 100%;
}

.modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(23, 203, 95, 0.473) 0%,
    rgba(9, 15, 121, 0.8997724089635855) 50%,
    rgba(174, 10, 31, 0.673) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 2;
}

.modal {
  position: absolute;
  font-size: 25px;
  background-color: #010d13c2;
  width: 20%;
  max-height: 80vh;
  padding: 1.5rem;
  overflow-y: scroll;
  color: #ffd700;
  z-index: 3;
}

.modal::-webkit-scrollbar {
  width: 4px;
  background-color: #362e01;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #ffd700;
}

.modal-close-button {
  color: #4854ff;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 35px;
  cursor: pointer;
}

.modal-close-button:hover {
  color: red;
}

.modal-img {
  width: 90%;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
}

.row {
  border-bottom: 5px solid rgb(15, 18, 130);
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.row p {
  width: 70%;
  text-align: left;
  color: #fff;
}

.ingredients {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-title {
  text-decoration: underline;
  text-align: center;
  font-size: 40px;
  color: #ffd700;
}

.alphabet {
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#message-container {
  margin-top: 3rem;
  width: 100%;
  border-radius: 2rem;
  font-size: 10rem;
  color: #a4070c;
  background-color: #1ca005;
  box-shadow:  inset 1px 1px 3px 10px rgb(255, 255, 91);
}
